<%= simple_form_for(@test_me) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :me %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
